/* Asterisk #199E79
#F77F00
#D62828
#0C66C0
#C3F73A
#3a3b3e
*/

.gsc-control-cse {
    position: relative !important;
    overflow-y: auto !important;
    max-height: 80vh !important;
    z-index: 0 !important;
    padding-bottom: 70px !important;
    scroll-behavior: smooth !important;
    width: 98% !important;
}

.gsc-results-wrapper-overlay {
    overflow: visible !important;
}

.gsc-cursor-page.gsc-cursor-current-page {
    font-size: 19px !important;
}

.gsc-cursor-page {
    font-size: 18px !important;
}

.gsc-cursor-page:hover {
    text-decoration: none !important;
}


.gsc-search-button.gsc-search-button-v2,
.gsc-search-button.gsc-search-button-v2:hover {
    display: block !important;
    font-size: 16px !important;
    background-position-x: center;
    background-position-y: center;
    border: none !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    background-image: url('magnifyingglass.svg');
    background-size: 20px !important;
    background-repeat: no-repeat !important;
}

.gsc-search-button.gsc-search-button-v2:hover {
    display: block !important;
    font-size: 16px !important;
    background-position-x: center;
    background-position-y: center;
    border: none !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    background-image: url('magnifyingglassfocus.svg');
    background-size: 20px !important;
    background-repeat: no-repeat !important;
}

.gsc-search-button.gsc-search-button-v2 svg {
    fill: none !important;
}

td.gssb_a {
    border: none !important;
}

.gsc-cursor-chevron {
    fill: #199E79 !important;
}

.gsc-cursor-next-page {
    color: #199E79 !important;
}

.gcsc-more-maybe-branding-root,
.gcsc-find-more-on-google-root {
    display: none !important;
}

.gsc-selected-option-container.gsc-inline-block {
    background-color: #FFFFFF !important;
    border-radius: 10px;
    color: #3a3b3e !important;
    border: none;
}

.gsc-option-menu {
    border-radius: 10px !important;
}

.gsc-option-menu-item.gsc-option-menu-item-highlighted {
    background-color: #3a3b3e !important;
    color: #FFFFFF !important;
}

.gsc-option-menu-container.gsc-inline-block {
    padding-left: 20px !important;
}

.gs-title {
    text-align: left !important;
    padding-bottom: 6px !important;
}

@font-face {
    font-family: 'Croogla';
    src: url('Croogla.ttf') format('truetype');
}

.logo1 {
    position: fixed;
    top: -7px;
    width: 220px;
    margin-left: 20px;
    height: auto;
    display: flex !important;
}

.content .gsc-search-button-v2 {
    border: none !important;
    background-color: #199E79 !important;
    color: #199E79 !important;
    height: 28px !important;
    border-radius: 30px !important;
    width: 60px !important;
    padding-left: 25px !important;
}

.content .gsc-search-button {
    margin-right: 60px !important;
}

.content .gsc-input {
    caret-color: #199E79 !important;
    text-align: left !important;
    font-family: 'Rubik' !important;
    border: none !important;
    height: 28px !important;
    width: 50vw !important;
    font-size: 22px !important;
    border-radius: 30px !important;
    outline: none !important;
    padding-left: 20px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.content {
    padding-top: 80px;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .logo,
    .logoU {
        width: 95vw;
    }
}

@media screen and (max-width: 630px) {

    .gsc-control-searchbox-only.gsc-control-searchbox-only-en {
        max-width: 80vw !important;
        margin-right: 180px !important;
    }
}

@media screen and (max-width: 480px) {

    .gsc-control-searchbox-only.gsc-control-searchbox-only-en {
        max-width: 64vw !important;
        margin-right: 260px !important;
    }
}

@media screen and (min-width: 500px) {

    .logo,
    .logoU {
        width: 500px;
    }
}

@media screen and (min-width: 800px) {
    input[type="text"] {
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 900px) {
    input[type="text"] {
        width: 860px;
    }
}

@media screen and (max-width: 799px) {
    input[type="text"] {
        width: 90vw;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 90vw;
    max-width: 800px;
    padding: 0;
    margin: auto;
    bottom: calc(50vh + 50px);
    height: auto;
}

.gs-captcha-info-link {
    display: none !important;
}

.logoU {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding: 0;
    margin: auto;
    bottom: 70%;
    height: auto;
}

main {
    font-family: "Rubik", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.topText {
    text-align: center;
}

.title {
    text-align: center;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

html {
    font-family: 'Rubik' !important;
    background-color: #3a3b3e;
    text-decoration: none;
    color: #FFFFFF;
}

body {
    overflow: hidden;
    -ms-overflow-style: none;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif !important;
}

.mainbox .gsc-input {
    caret-color: #199E79 !important;
    text-align: left !important;
    font-family: 'Rubik' !important;
    border: none !important;
    height: 48px !important;
    width: 70vw !important;
    font-size: 34px !important;
    border-radius: 30px !important;
    outline: none !important;
    padding-left: 20px !important;
    padding-right: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gsc-cursor-box.gs-bidi-start-align {
    text-align: center !important;
}

.gsc-inline-block .gsc-option-menu-container {
    background-color: #199E79 !important;
}

.gsc-webResult,
.gs-webResult,
.gsc-table-result,
.gsc-result-info,
.gsc-option-menu-container {
    font-family: 'Rubik', sans-serif !important;
}

.gsc-option-menu-container,
.gsc-selected-option {
    font-weight: 600 !important;
}

.gsc-input:focus {
    transition: 0.3s ease-out !important;
    border: 4px solid #199E79 !important;
}

.gsc-input {
    transition: 0.3s ease-out !important;
}

.gsc-input-box {
    background-color: #3a3b3e !important;
    border: none !important;
}

.gscb_a {
    transition: color 0.6s ease !important;
}

.gscb_a {
    color: #199E79 !important;
}

.gscb_a:hover {
    color: #d62828 !important;
}

.gsc-completion-selected:hover {
    background-color: #3a3b3e !important;
    color: #199E79 !important;
    border-radius: 10px !important;
}

.gsc-completion-container {
    background-color: #199E79 !important;
    color: #3a3b3e !important;
    border: none !important;
    border-radius: 10px !important;
}

.mainbox .gsc-search-button-v2 {
    border: none !important;
    background-color: #199E79 !important;
    color: #199E79 !important;
    height: 48px !important;
    border-radius: 30px !important;
    width: 70px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline;
    position: fixed;
    background-color: #199E79;
    color: #3a3b3e;
    height: 60px;
    width: 100vw;
    bottom: 0px;
}

.modal-content {
    background-color: #3a3b3e;
    margin: 15% auto;
    padding: 10px;
    border: 4px solid #199E79;
    border-radius: 30px;
    width: 80%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.eMessage {
    font-size: 30px;
    text-align: center;
}

.eMessageSm {
    font-size: 20px;
    text-align: center;
}

a {
    transition: transform .2s;
    text-decoration: none;
    color: #3a3b3e;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

footer {
    font-family: "Croogla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
}